/* Website Fonts */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Display&family=Big+Shoulders+Stencil+Display&family=Oswald:wght@300&display=swap');

/* Website Headers */
.page-header{
    font-family: 'Big Shoulders Stencil Display', cursive;
    letter-spacing: 5px;
    margin: 40px 0px;
}

.hero-header span{
    color:#76ff03;
}

.hero-header{
    font-family: 'Big Shoulders Stencil Display', cursive;
    letter-spacing: 5px;
    color: white;
}

/* Website Buttons */
.green-button{
    background-color:#76ff03;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 5px;
}

.grey-button{
    background-color: #212121;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
}

.red-button{
    background-color: #d32f2f;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
    margin: 0 2px;
}

/* Navbar */
.nav-logo{
    font-family: 'Big Shoulders Stencil Display', cursive;
    letter-spacing: 5px;
    margin-left: 10px;
}

.fit-logo{
    color:#76ff03;
}

/* Smaller logo for navbar on smaller screens */
@media screen and (max-width: 526px) {
  .nutrition-logo {
    display: none;
  }
}

nav ul li{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
}

/* Side Navbar */
.side-nav-logo{
    font-family: 'Big Shoulders Inline Display', cursive;
    letter-spacing: 5px;
}

.side-nav-logo span{
    color:#76ff03;
}

.sidenav a{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
}

/* Flash Messages */
.flash-message{
    background-color: #212121;
    color: white;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
}

.account-link{
    color: #76ff03;
}

/* Hero Section - Home Page */
.hero-section{
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(https://images.unsplash.com/reserve/EnF7DhHROS8OMEp2pCkx_Dufer%20food%20overhead%20hig%20res.jpg?ixlib=rb-1.2.1&auto=format&fit=crop&w=1514&q=80) no-repeat center center fixed;
    background-size: cover;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero-text{
    color: white;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 5px;
}

/* Feature Section - Home Page */
.feature-container{
    padding: 50px 0px;
    background-color: #212121;
}

.feature{
    margin: 25px 0px;
    color: white;
}

.feature-icon{
    font-size: 50px;
    color: white;
}

.feature-header{
    font-family: 'Big Shoulders Stencil Display', cursive;
    letter-spacing: 5px;
    color: white;
}

.feature-text{
    color: white;
}

/* Latest Recipe - Home Page */
.recipe-header{
    font-family: 'Big Shoulders Inline Display', cursive;
    letter-spacing: 5px;
}

/* Footer Section */
.footer-header{
    font-family: 'Big Shoulders Stencil Display', cursive;
    letter-spacing: 5px; 
}

.footer-text{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
}

footer a{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
}

/* Profile Page */
.profile-info{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
    font-size: 1.5rem;
}

.profile-details{
    margin-top: 5px;
}

.profile-icon{
    color: #76ff03;
    font-size: 2rem;
}