{% extends "base.html" %}
{% block content %}
    <h2 class="center-align page-header">Add Recipe</h2>
    <div class="container">
        <div class="row">
            <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('add_recipe') }}">
                <div class="card-panel">
                    <div class="row">
                        <!--Recipe Name-->
                        <div class="input-field col s12">
                            <input id="recipe_name" name="recipe_name" minlength="3" maxlength="50" type="text" class="validate" required>
                            <label for="recipe_name">Recipe Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <!--Recipe Description-->
                        <div class="input-field col s12">
                            <textarea id="recipe_description" type="text" name="recipe_description" class="validate materialize-textarea" required></textarea>
                            <label for="recipe_description">Brief Recipe Description</label>
                        </div>
                    </div>
                    <div class="row">
                        <!--Recipe category-->
                        <div class="input-field col s12 m6">
                            <select id="recipe_category" name="recipe_category" class="validate" required>
                                <option value="" disabled selected>Select Category</option>
                                <option value="breakfast">Breakfast</option>
                                <option value="lunch">Lunch</option>
                                <option value="dinner">Dinner</option>
                            </select>
                            <label for="recipe_category">Recipe Category</label>
                        </div>
                    </div>
                    <div class="row">
                        <!--Recipe difficulty-->
                        <div class="input-field col s12 m6">
                            <select id="recipe_difficulty" name="recipe_difficulty" class="validate" required>
                                <option value="" disabled selected>Select Difficulty</option>
                                <option value="easy">Easy</option>
                                <option value="moderate">Moderate</option>
                                <option value="difficult">Difficult</option>
                            </select>
                            <label for="recipe_difficulty">Recipe Difficulty</label>
                        </div>
                        <!--Recipe Time-->
                        <div class="input-field col s12 m4">
                            <input id="recipe_time" name="recipe_time" type="number" class="validate" required>
                            <label for="recipe_time">Recipe Duration (minutes)</label>
                        </div>
                    </div>
                    <div class="row" id="recipe_ingredient_field">
                        <!--Recipe Ingredients-->
                        <div class="input-field col s12 m6">
                            <input id="recipe_ingredient" type="text" name="recipe_ingredient[]" class="validate materialize-textarea" minlength="3" required>
                            <label for="recipe_ingredient">Ingredient</label>
                        </div>
                    </div>
                    <div class="row">
                        <!--button to add another ingredient-->
                        <button class="btn-small green-button col s4" id="add_ingredient">Add Ingredient</button>
                    </div>
                    <div class="row" id="recipe_method_field">
                        <!--Recipe Method-->
                        <div class="input-field col s12">
                            <textarea id="recipe_method" type="text" name="recipe_method[]" class="validate materialize-textarea" minlength="3" required></textarea>
                            <label for="recipe_method">Recipe Method</label>
                        </div>
                    </div>
                    <div class="row">
                        <!--button to add another method-->
                        <button class="btn-small grey-button col" id="add_method">Add Method</button>
                    </div>
                    <div class="row">
                        <!--Recipe Image-->
                        <div class="input-field col s12">
                            <textarea id="recipe_image" type="text" name="recipe_image" class="validate materialize-textarea"></textarea>
                            <label for="recipe_image">Add Image Link</label>
                        </div>
                    </div>
                    <!--Add Recipe Button-->
                    <div class="row center-align">
                        <button type="submit" class="waves-effect waves-light btn green-button">Add Recipe</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}