{% extends "base.html" %}
{% block content %}
    <!--Hero Section-->
    <div class="hero-section">
        <div class="video-container">
            <video src="{{ url_for('static', filename='videos/hero-video.mp4') }}" autoplay muted loop alt="Hot food smoking on a plate"></video>
        </div>
        <div class="hero-content">
            <h1 class="center-align hero-header">MATCH<span>FIT</span> NUTRITION</h1>
            <p class="center-align hero-text">FIND THE BEST RECIPES TO FUEL YOUR PERFORMANCE</p>
            <a href="{{ url_for('recipes' )}}" class="green-button waves-effect waves-light btn-large">View Recipes</a>
        </div>
    </div>
    <!--Features Section-->
    <div class="row feature-container">
        <div class="col s12 m4">
            <div class="icon-block center-align">
                <h2 class="center"><i class="fas fa-battery-three-quarters feature-icon"></i></h2>
                <h5 class="center feature-header">Fuel your Performance</h5>
                <p class="feature-text">Fuel your performance with delicious recipes from fellow athletes from around the world.</p>
                <a href="{{ url_for('recipes' )}}" class="waves-effect waves-light btn green-button">View Recipes</a>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="icon-block center-align">
                <h2 class="center"><i class="fas fa-retweet feature-icon"></i></h2>
                <h5 class="center feature-header">Share your favourite recipes</h5>
                <p class="feature-text">Registered users can share their favourite recipes with the community.</p>
                <a href="{{ url_for('register' )}}" class="waves-effect waves-light btn green-button">Register now</a>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="icon-block center-align">
                <h2 class="center"><i class="fas fa-award feature-icon"></i></h2>
                <h5 class="center feature-header">Top tips from Sport Nutritionists</h5>
                <p class="feature-text">Weekly articles and recipes from some of the best sport nutritionists in the world.</p>
                <a href="{{ url_for('blogs')}}" class="waves-effect waves-light btn green-button">View Blogs</a>
            </div>
        </div>
    </div>
    <!--Latest Recipes-->
    <h3 class="center-align page-header">Latest Recipes</h3>
    <div class="container">
        {% for recipe in recipes %}
            <!--Desktop and larger screens -->
            <div class="desktop-card col s12 m7">
                <div class="card horizontal">
                    <div class="card-image s12 m4">
                        {% if recipe.recipe_image %}
                            <img class="responsive-img" src="{{ recipe.recipe_image }}" alt="Image of {{recipe.recipe_name}}">
                        {% else %}
                            <img class="responsive-img" src="https://images.unsplash.com/photo-1509358271058-acd22cc93898?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80" alt="Image of seasoning and spoons">
                        {% endif %}
                    </div>
                    <div class="card-stacked s12 m7">
                        <div class="card-content">
                            <h5 class="header recipe-header">{{ recipe.recipe_name }}</h5>
                            <p>{{ recipe.recipe_description }}</p>
                            <ul>
                                <li>Category: {{recipe.category.title()}}</li>
                                <li> Duration: {{ recipe.recipe_time }} minutes</li>
                                <li>Difficulty: {{ recipe.recipe_difficulty.title() }}</li>
                            </ul>
                        </div>
                        <div class="card-action">
                            <a href="{{ url_for('show_recipe', recipe_id=recipe._id) }}" class="waves-effect waves-light btn green-button">View Recipe</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Mobile and Tablet screens -->
            <div class="mobile-card">
                <div class="row">
                    <div class="col s12">
                        <div class="card">
                            <div class="card-image">
                                {% if recipe.recipe_image %}
                                    <img class="responsive-img" src="{{ recipe.recipe_image }}" alt="Image of {{recipe.recipe_name}}">
                                {% else %}
                                    <img class="responsive-img" src="https://images.unsplash.com/photo-1509358271058-acd22cc93898?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80" alt="Image of seasoning and spoons">
                                {% endif %}
                                <span class="card-title recipe-header">{{ recipe.recipe_name }}</span>
                            </div>
                            <div class="card-content">
                                <p>{{recipe.recipe_description}}</p>
                                <ul>
                                    <li>Category: {{recipe.category.title()}}</li>
                                    <li> Duration: {{ recipe.recipe_time }} minutes</li>
                                    <li>Difficulty: {{ recipe.recipe_difficulty.title() }}</li>
                                </ul>
                            </div>
                            <div class="card-action">
                                <a href="{{ url_for('show_recipe', recipe_id=recipe._id) }}" class="waves-effect waves-light btn green-button">View Recipe</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <!--Latest Blog-->
        <h3 class="center-align page-header">Latest Blog</h3> 
        {% for blog in blogs %}
            <!--Desktop and larger screens -->
            <div class="desktop-card col s12 m7">
                <div class="card horizontal">
                    <div class="card-image s12 m4 responsive-img">
                        {% if blog.blog_image %}
                            <img class="responsive-img" src="{{ blog.blog_image }}" alt="Image of {{blog.blog_title}}">
                        {% else %}
                            <img class="responsive-img" src="https://images.unsplash.com/photo-1591189863430-ab87e120f312?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80" alt="Sport Nutrition Image">
                        {% endif %}
                    </div>
                    <div class="card-stacked s12 m7">
                        <div class="card-content">
                            <h5 class="header recipe-header">{{ blog.blog_title }}</h5>
                            <p>{{ blog.blog_description }}</p>
                            <ul>
                                <li> Read time: {{ blog.blog_time }} minutes</li>
                                <li>Author: <i>{{ blog.blog_author }}</i></li>
                            </ul>
                        </div>
                        <div class="card-action">
                            <a href="{{ url_for('show_blog', blog_id=blog._id) }}" class="waves-effect waves-light btn green-button">Read Blog</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Mobile and Tablet screens -->
            <div class="mobile-card">
                <div class="row">
                    <div class="col s12">
                        <div class="card">
                            <div class="card-image">
                                {% if blog.blog_image %}
                                    <img class="responsive-img" src="{{ blog.blog_image }}" alt="Image of {{blog.blog_title}}">
                                {% else %}
                                    <img class="responsive-img" src="https://images.unsplash.com/photo-1591189863430-ab87e120f312?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80" alt="Sport Nutrition Image">
                                {% endif %}
                                <span class="card-title recipe-header">{{ blog.blog_title }}</span>
                            </div>
                            <div class="card-content">
                                <p>{{ blog.blog_description }}</p>
                                <ul>
                                    <li> Read time: {{ blog.blog_time }} minutes</li>
                                    <li>Author: <i>{{ blog.blog_author }}</i></li>
                                </ul>
                            </div>
                            <div class="card-action">
                                <a href="{{ url_for('show_blog', blog_id=blog._id) }}" class="waves-effect waves-light btn green-button">Read Blog</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}