{% extends "base.html" %}
{% block content %}
    <h2 class="center-align page-header">Log In</h2>
    <div class="container">
        <div class="row">
            <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
                <div class="card-panel">
                    <div class="row">
                        <!--Username-->
                        <div class="input-field col s12">
                            <input id="username" name="username" minlength="5" maxlength="15" type="text" class="validate" required>
                            <label for="username">Username</label>
                        </div>
                    </div>
                    <div class="row">
                        <!--Password-->
                        <div class="input-field col s12">
                            <input id="password" type="password" name="password" minlength="5" maxlength="15" class="validate" required>
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <!--Log In -->
                    <div class="row center-align">
                        <button type="submit" class="waves-effect waves-light btn green-button">Log In</button>
                    </div>
                    <div class="row center-align">
                        <p>Don't have an account?<a class="account-link" href="{{ url_for('register') }}"> Register here!</a>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}