{% extends "base.html" %}
{% block content %}
    <h2 class="page-header center-align">MatchFit Nutrition Memember</h2>
    <div class="container">
        <div class="row">
            <div class="col s12 m6">
                <div class="card-panel">
                    <ul class="profile-info">
                        <li class="avatar">
                            <i class="fas fa-user-circle circle profile-icon"></i>
                            <span class="title profile-username">{{username.username}}</span>
                            <p class="profile-details">First Name: {{username.first_name.title()}}<br>
                            Last Name: {{username.last_name.title()}}
                            </p>
                            <div class="row">
                            <a class="waves-effect waves-green btn green-button" href="{{ url_for('logout')}}">LogOut</a>
                            <a class="waves-effect waves-green btn grey-button" href="{{ url_for('add_recipe')}}">Add Recipe</a>
                            {% if session.user|lower == "admin" %}
                            <a class="waves-effect waves-green btn orange-button" href="{{ url_for('add_blog')}}">Add Blog</a>
                            {% endif %}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% if session.user|lower == "admin" %}
            <h3 class="page-header">Blog Posts</h3>
            <div class="row">
                {% for blog in blogs %}
                <!--Desktop and larger screens -->
                <div class="col s12 desktop-card">
                    <div class="card horizontal">
                        <div class="card-image s12 m4">
                            {% if blog.blog_image %}
                                <img class="responsive-img" src="{{ blog.blog_image }}" alt="Sport Nutrition Image">
                            {% else %}
                                <img class="responsive-img" src="https://images.unsplash.com/photo-1591189863430-ab87e120f312?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80" alt="Sport Nutrition Image">
                            {% endif %}
                        </div>
                        <div class="card-stacked s12 m7">
                            <div class="card-content">
                                <h5 class="header card-header">{{ blog.blog_title }}</h5>
                                <p class="card-description">{{ blog.blog_description }}</p>
                                <ul class="card-details">
                                    <li> Read time: {{ blog.blog_time }} minutes</li>
                                    <li>Author: {{ blog.blog_author }}</li>
                                </ul>
                            </div>
                            <div class="card-action">
                                <a href="{{ url_for('show_blog', blog_id=blog._id) }}" class="waves-effect waves-light btn green-button">Read Blog</a>
                                <a href="#delete_blog" class="waves-effect waves-light btn-small red-button right modal-trigger">Delete</a>
                                <a href="{{ url_for('edit_blog', blog_id=blog._id)}}" class="waves-effect waves-light btn-small grey-button right">Edit</a>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Content: Delete Blog -->
                    <div id="delete_blog" class="modal">
                        <div class="modal-content">
                            <h5>Are you sure you want to delete this blog?</h5>
                            <h4 class="modal-header">{{blog.blog_title}}</h4>
                        </div>
                        <div class="modal-buttons">
                            <a href="{{ url_for('delete_blog', blog_id=blog._id)}}" class="waves-effect waves-light btn-small red-button right">Delete</a>
                            <a href="{{ url_for( 'profile', username=session['user'] )}}" class="btn-small waves-effect waves-light btn grey-button right">Cancel</a>
                        </div>
                    </div>
                </div>
                
                <!-- Mobile and Tablet screens -->
                <div class="mobile-card">
                    <div class="row">
                        <div class="col s12">
                            <div class="card">
                                <div class="card-image">
                                {% if blog.blog_image %}
                                    <img class="responsive-img" src="{{ blog.blog_image }}" alt="Sport Nutrition Image">
                                {% else %}
                                    <img class="responsive-img" src="https://images.unsplash.com/photo-1591189863430-ab87e120f312?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80" alt="Sport Nutrition Image">
                                {% endif %}
                                <span class="card-title card-header">{{ blog.blog_title }}</span>
                                <a href="{{ url_for('edit_blog', blog_id=blog._id)}}" class="btn-floating halfway-fab waves-effect waves-light grey darken-4"><i class="fas fa-user-edit"></i></a>
                                </div>
                                <div class="card-content">
                                    <p class="card-description">{{ blog.blog_description }}</p>
                                    <ul class="card-details">
                                        <li> Read time: {{ blog.blog_time }} minutes</li>
                                        <li>Author: {{ blog.blog_author }}</li>
                                    </ul>
                                </div>
                                <div class="card-action">
                                    <a href="{{ url_for('show_blog', blog_id=blog._id) }}" class="waves-effect waves-light btn-small green-button">Read Blog</a>
                                    <a href="#delete_blog_mobile" class="btn-floating red right modal-trigger"><i class="fas fa-trash-alt"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Content: Delete Blog Mobile -->
                    <div id="delete_blog_mobile" class="modal">
                        <div class="modal-content">
                            <h5>Are you sure you want to delete this blog?</h5>
                            <h4 class="modal-header">{{blog.blog_title}}</h4>
                        </div>
                        <div class="modal-buttons">
                            <a href="{{ url_for('delete_blog', blog_id=blog._id)}}" class="waves-effect waves-light btn-small red-button right">Delete</a>
                            <a href="{{ url_for( 'profile', username=session['user'] )}}" class="btn-small waves-effect waves-light btn grey-button right">Cancel</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% endif %}
        <h3 class="page-header">My Recipes</h3>
        <div class="row">
            {% for recipe in recipes %}
                {% if session.user|lower == recipe.created_by|lower %}
                <!--Desktop and larger screens -->
                <div class="col s12 desktop-card">
                    <div class="card horizontal">
                        <div class="card-image s12 m4">
                            {% if recipe.recipe_image %}
                                <img class="responsive-img" src="{{ recipe.recipe_image }}" alt="Image of {{recipe.recipe_name}}">
                            {% else %}
                                <img class="responsive-img" src="https://images.unsplash.com/photo-1506159904226-d6cfd457c30c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80" alt="Image of bowl and spoon">
                            {% endif %}
                        </div>
                        <div class="card-stacked s12 m7">
                            <div class="card-content">
                                <h5 class="header card-header">{{ recipe.recipe_name }}</h5>
                                <p class="card-description">{{ recipe.recipe_description }}</p>
                                <ul class="card-details">
                                    <li>Category: {{recipe.category.title()}}</li>
                                    <li> Duration: {{ recipe.recipe_time }} minutes</li>
                                    <li>Difficulty: {{ recipe.recipe_difficulty.title() }}</li>
                                </ul>
                            </div>
                            <div class="card-action">
                                <a href="{{ url_for('show_recipe', recipe_id=recipe._id) }}" class="waves-effect waves-light btn green-button">View Recipe</a>
                                <a href="#delete_recipe" class="waves-effect waves-light btn-small red-button right modal-trigger">Delete</a>
                                <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="waves-effect waves-light btn-small grey-button right">Edit</a>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Content: Delete Recipe -->
                    <div id="delete_recipe" class="modal">
                        <div class="modal-content">
                            <h5>Are you sure you want to delete this recipe?</h5>
                            <h4 class="modal-header">{{recipe.recipe_name}}</h4>
                        </div>
                        <div class="modal-buttons">
                            <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="waves-effect waves-light btn-small red-button right">Delete</a>
                            <a href="{{ url_for( 'profile', username=session['user'] )}}" class="btn-small waves-effect waves-light btn grey-button right">Cancel</a>
                        </div>
                    </div>
                </div>
                <!--Mobile and Tablet screens -->
                <div class="mobile-card">
                    <div class="row">
                        <div class="col s12">
                            <div class="card">
                                <div class="card-image">
                                    {% if recipe.recipe_image %}
                                        <img class="responsive-img" src="{{ recipe.recipe_image }}" alt="Image of {{recipe.recipe_name}}">
                                    {% else %}
                                        <img class="responsive-img" src="https://images.unsplash.com/photo-1506159904226-d6cfd457c30c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80" alt="Image of bowl and spoon">
                                    {% endif %}
                                    <span class="card-title card-header">{{ recipe.recipe_name }}
                                    </span>
                                    <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn-floating halfway-fab waves-effect waves-light grey darken-4"><i class="fas fa-user-edit"></i></a>
                                </div>
                                <div class="card-content">
                                    <p class="card-description">{{recipe.recipe_description}}</p>
                                    <ul class="card-details">
                                        <li>Category: {{recipe.category.title()}}</li>
                                        <li> Duration: {{ recipe.recipe_time }} minutes</li>
                                        <li>Difficulty: {{ recipe.recipe_difficulty.title() }}</li>
                                    </ul>
                                </div>
                                <div class="card-action">
                                    <a href="{{ url_for('show_recipe', recipe_id=recipe._id) }}" class="waves-effect waves-light btn green-button">View Recipe</a>
                                    <a href="#delete_recipe_mobile" class="btn-floating red right modal-trigger"><i class="fas fa-trash-alt"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Content: Delete Recipe mobile -->
                    <div id="delete_recipe_mobile" class="modal">
                        <div class="modal-content">
                            <h5>Are you sure you want to delete this recipe?</h5>
                            <h4 class="modal-header">{{recipe.recipe_name}}</h4>
                        </div>
                        <div class="modal-buttons">
                            <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="waves-effect waves-light btn-small red-button right">Delete</a>
                            <a href="{{ url_for( 'profile', username=session['user'] )}}" class="btn-small waves-effect waves-light btn grey-button right">Cancel</a>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}