{% extends "base.html" %}
{% block content %}
    <h2 class="page-header center-align">{{recipe.recipe_name}}</h2>
    <div class="container">
        <div class="row">
            <img class="responsive-img" src="{{recipe.recipe_image}}">
        </div>
        <div class="row center-align">
            <p><i>{{recipe.recipe_description}}</i></p>
        </div>
        <div class="row">
            <ul>
                <li>Duration: {{recipe.recipe_time}}</li>
                <li>Difficulty: {{recipe.recipe_difficulty}}</li>
            </ul>
        </div>
        <div class="row">
            <div class="col s12 m4 recipe-ingredients recipe-box">
                <h5 class="recipe-title">Ingredients</h5>
                <ul>
                    {% for item in ingredient %}
                        <li class="ingredient">{{-item-}}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col s12 m8 recipe-method recipe-box">
                <h5 class="recipe-title center-align">Method</h5>
                <p>{{recipe.recipe_method}}</p>
            </div>
        </div>
        <div class="row">
            <a href="{{ url_for('recipes')}}" class="waves-effect waves-light btn grey-button">Back to recipes</a> 
        </div>
    </div>
{% endblock %}