{% extends "base.html" %}
{% block content %}
    <h2 class="page-header center-align">{{blog.blog_title}}</h2>
    <div class="container">
        <div class="row">
            {% if blog.blog_image %}
                <img class="responsive-img" src="{{blog.blog_image}}">
            {% else %}
                <img class="responsive-img" src="https://images.unsplash.com/photo-1591189863430-ab87e120f312?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80" alt="">
            {% endif %}
        </div>
        <div class="row">
            <ul>
                <li>Read time: {{blog.blog_time}} minutes</li>
                <li>Author: {{blog.blog_author}}</li>
            </ul>
        </div>
        <div class="row">
            <div class="col s12">
                <iframe class="blog-text" srcdoc="{{blog.blog_text}}">
                </iframe>
            </div>
        </div>
        <div class="row">
            <a href="{{ url_for('blogs')}}" class="waves-effect waves-light btn grey-button">Back to blogs</a> 
        </div>
    </div>
{% endblock %}